PORT=8787
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DATABASE=taxi_park
SOLANA_RPC_URL=https://api.devnet.solana.com
TAXI_PROGRAM_ID=7SpHocA8dThiUTfkv9iv63bhJnzWysk2bFgKbT4WKwnY
BACKEND_SIGNER_SECRET_KEY=[0,0]
TRAINEE_WORD_PEPPER=replace-with-a-long-random-secret
VOUCHER_TTL_SECONDS=180
ALLOWED_ORIGIN=http://localhost:5173
TRUST_PROXY=false
WORKER_INTERVAL_MS=60000

VITE_SOLANA_RPC_URL=https://api.devnet.solana.com
VITE_SOLANA_DAS_URL=https://api.devnet.solana.com
VITE_TAXI_PROGRAM_ID=7SpHocA8dThiUTfkv9iv63bhJnzWysk2bFgKbT4WKwnY
VITE_BACKEND_URL=http://localhost:8787
